body{
    background-color: hsl(212, 45%, 89%);
    /* min-height: 100vh; */
    /* margin-top: 100px; */
    /* display: flex;
    justify-content: center; */
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 8rem;
}
.qr-cont{
    background-color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px; */
    width: 300px;
    height: 450px;
    border-radius: 10px;

}

.qr{
    width: 200px;
    /* height: 200px; */
    display: flex;
    /* align-self: center; */
    border-radius: 30px;
    margin: auto;
    padding: 1.5rem;
}

.content{
    text-align: center;
    font-family: 'Unna', serif;
}

#cont-title{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin: 0 1rem;
}

#cont-des{
    color: hsl(220, 15%, 55%);
    font-size: 16px;
    margin: 0.6rem 1.5rem;
}

@media screen and (max-width: 670px){
    body{
        /* background-color: green; */
        /* width: 300px;
        height: 550px; */

    }

    .qr-cont{
        width: 300px;
        /* height: 550px; */
    
    }

}

